<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fizmatik</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>Fizmatik</h1>
        </div>
        <div class="nav">
            <a href="#">Pricing</a>
            <a href="#">About</a>
            <a href="#">Contacts</a>
           <a href="https://github.com/Kingrane/Fizmatik" target="_blank" rel="noopener noreferrer">Github</a>
        </div>
        <div class="auth">
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>
    </div>

    <div class="title">
        <h2>Fizmatik</h2>
        <p>твой ИИ решатель</p>
    </div>

    <div class="container">
        <form id="solver-form">
            <input type="text" name="problem" placeholder="Введите задачу" required>
            <button type="submit">Решить</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>