<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fizmatik - Pricing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>Fizmatik</h1>
        </div>
        <div class="nav">
            <a href="/">Back Home</a>
            <a href="/about">About</a>
            <a href="/formulas">Formulas</a>
            <a href="https://github.com/Kingrane/Fizmatik" target="_blank">Github</a>
        </div>
        <div class="auth">
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>
    </div>

    <div class="title">
        <h2>Тарифные планы</h2>
        <p>выберите подходящий вариант</p>
        <p>ничего не работает</p>
    </div>

    <div class="pricing-row">
        <div class="container">
            <h3>Базовый</h3>
            <p>10 решений в день<br>Базовые объяснения</p>
            <div class="price">Бесплатно</div>
            <button type="submit">ВЫБРАН</button>
        </div>

        <div class="container">
            <h3>Стандарт</h3>
            <p>30 решений в день<br>Подробные объяснения</p>
            <div class="price">299₽/мес</div>
            <button type="submit">КУПИТЬ</button>
        </div>

        <div class="container">
            <h3>Премиум</h3>
            <p>Бесконечные решения<br>Лучше модель<br></p>
            <div class="price">499₽/мес</div>
            <button type="submit">КУПИТЬ</button>
        </div>
    </div>
</body>
</html>
